header {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: darkgray;
}
body {
    background-image: url('https://cdn.wallpapersafari.com/89/10/jgPiO3.jpg');
}

nav {
    background-color: darkslategray;
    border: solid black;
    height: 60px;
    display: block;
    font-size: 23px;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
    padding-right: 30px;
    

}
nav a {
    text-decoration: none;
    color: black;
}
main {
    margin-left: 20px;
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    list-style: inside;
    
}

main h3 {
    padding-top: 10px;
}

footer {
        background-color: darkslategray;
        border: solid black;
        height: 60px;
        display: block;
        font-size: 23px;
        width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-decoration: underline;
        margin-top: 50px;
}